@import url('https://fonts.googleapis.com/css3?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px ;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    z-index: 100;

}
.logo{
    font-size: 25px;
    color: #fff; 
    text-decoration: none;
    font-weight: 600;
}
nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .4s;
}
nav a:hover,
nav a:active{
    color: #8e80d3 ;
}

section{
    min-height:  100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #1f242d;
    font-size: 100px;
    color: #110d0d;
    font-weight: 700;
}
#home{
    background: #9ab310;
}
#about{
    background: #d37323;
}
#services{
    background: #7e05ad;
}
#contact{
    background: #f6f219;
}